<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLHD.Properties.Settings.QLHDConnectionString" connectionString="Data Source=VUMINHDUY\SQLEXPRESS;Initial Catalog=QLHD;Persist Security Info=True;User ID=sa;Password=duyeqqp"
            providerName="System.Data.SqlClient" />
        <add name="QLHD.Properties.Settings.QLHD2ConnectionString" connectionString="Data Source=VUMINHDUY\SQLEXPRESS;Initial Catalog=QLHD2;User ID=sa;Password=duyeqqp"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>